
#map {
    background-color: #ffffff
}
th {
    text-align: left;
    vertical-align: top;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h2 {
    margin: 0 0 5px;
    color: #777;
}
.leaflet-container {
    background: #fff;
}
.leaflet-popup-content {
    width:auto !important;
}
.leaflet-tooltip {
    background: none;
    box-shadow: none;
    border: none;
}
.leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
    border: 0px;
}

#slides_container {
 
    position: absolute;
    top: 40px;
    left: 40px;
    width: 250px;
    padding: 40px;
    padding-right: 20px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
    z-index: 1000;
}

#slides_container h1, #slides_container h2, #slides_container h3, #slides_container h4, #slides_container h5, #slides_container h6 {
    font-family: 'Proxima N W01 Bold', Sans-serif;
    color: #333;
    font-size: 25px;
}